@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Send>
@using BruteApp.Controllers
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "MasterLayout.cshtml";
}

@section styles {
    <link href="~/css/send.css" rel="stylesheet" />
}

<article>
    <div class="content">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-xl-9 col-xxl-8">
                    <div class="send-translation">

                        <h1>Отправьте нам свой перевод</h1>
                        <p>Какое-то описание. Сюда лучше richTextEditor</p>
                        <div class="row justify-content-center">
                            <div class="col-lg-9 col-xl-9 col-xxl-8">
                                @using (Html.BeginUmbracoForm<FeedbackController>("Send", null, new {novalidate = ""}))
                                {
                                    <div class="input">
                                        @*<input placeholder="Ваше имя"/>*@
                                        @Html.TextBox("Name", null, new {placeholder = "Ваше имя", type = "text"})
                                        @Html.ValidationMessage("Name")
                                        <span class="validation">Некорректное имя</span>
                                    </div>
                                    <div class="input">
                                        @*<input placeholder="Ссылка на профиль ВК, Фейсбук или Инстаграм"/>*@
                                        @Html.TextBox("Link", null, new {placeholder = "Ссылка на профиль ВК, Фейсбук или Инстаграм", type = "url"})
                                        @Html.ValidationMessage("Link")
                                    </div>
                                    <div class="input">
                                        @*<input placeholder="Почтовый ящик"/>*@
                                        @Html.TextBox("Email", null, new {placeholder = "Почтовый ящик", type = "email"})
                                        @Html.ValidationMessage("Email")
                                        <span class="validation">Некорректный почтовый ящик</span>
                                    </div>
                                    <div class="send-file">
                                        @*<input type="file" id="file" class="custom-file-input">*@
                                        @Html.TextBox("File", null, new {type = "file", @class = "custom-file-input", accept = ".txt, .doc, .docx, .rtf, .odt"})
                                        @Html.ValidationMessage("File")
                                        <span class="file-control"></span>
                                        <span class="validation">Прикрепите перевод песни тектовым документом</span>
                                    </div>
                                    <input type="submit"/>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</article>

@section scripts {
    <script src="~/scripts/main.js"></script>
}