@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Send>
@using BruteApp.Controllers
@using BruteApp.Helpers
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "MasterLayout.cshtml";
    var main = (MainPage)Umbraco.TypedContentSingleAtXPath(string.Format("//{0}", AttributeHelper.GetTypeAlias<MainPage>()));
}

@section styles {
    <link href="~/css/send.css" rel="stylesheet" />        
}

@section sidebar {
    @foreach (var publishedContent in main.Musicians)
    {
        if (publishedContent.DocumentTypeAlias != "musician")
        {
            continue;
        }
        var musician = (Musician) publishedContent;
        <li>
            <a href="@musician.Url">
                <span>@musician.NavigationName</span>
                <i class="br-down"></i>
            </a>
            <ul class="collapse">
                @foreach (var publishedContent1 in musician.Children)
                {
                    var song = (Song) publishedContent1;
                    <li>
                        <a href="@song.Url">@song.SongName</a>
                    </li>
                }
            </ul>
        </li>
    }
}



<article>
    <div class="content">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-xl-9 col-xxl-8">
                    <div class="send-translation">

                        <h1>Отправьте нам свой перевод</h1>
                        @Model.Content.Description
                        <div class="row justify-content-center">
                            <div class="col-lg-9 col-xl-9 col-xxl-8">
                                @using (Html.BeginUmbracoForm<FeedbackController>("Send", null, new {novalidate = ""}))
                                {
                                    <div class="input @(Html.ValidationMessage("Name") == null ? string.Empty : "error")">
                                        @*<input placeholder="Ваше имя"/>*@
                                        @Html.TextBox("Name", null, new {placeholder = "Ваше имя", type = "text"})                                        
                                        <span class="validation">@Html.ValidationMessage("Name")</span>
                                    </div>
                                    <div class="input @(Html.ValidationMessage("Link") == null ? string.Empty : "error")">
                                        @*<input placeholder="Ссылка на профиль ВК, Фейсбук или Инстаграм"/>*@
                                        @Html.TextBox("Link", null, new {placeholder = "Ссылка на профиль ВК, Фейсбук или Инстаграм", type = "url"})
                                        <span class="validation">@Html.ValidationMessage("Link")</span>
                                    </div>
                                    <div class="input @(Html.ValidationMessage("Email") == null ? string.Empty : "error")">
                                        @*<input placeholder="Почтовый ящик"/>*@
                                        @Html.TextBox("Email", null, new {placeholder = "Почтовый ящик", type = "email"})                                        
                                        <span class="validation">@Html.ValidationMessage("Email")</span>
                                    </div>
                                    <div class="send-file @(Html.ValidationMessage("File") == null ? string.Empty : "error")">
                                        @*<input type="file" id="file" class="custom-file-input">*@
                                        @Html.TextBox("File", null, new {type = "file", @class = "custom-file-input", accept = ".txt, .doc, .docx, .rtf, .odt"})                                        
                                        <span class="file-control">
                                            <span class="placeholder">Добавить файл с переводом</span>
                                        </span>
                                        <span class="validation">@Html.ValidationMessage("File")</span>
                                    </div>
                                    <button type="submit" @*data-toggle="modal" data-target="#myModal"*@>Отправить</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>

    @*<!-- Button trigger modal -->
    <button type="button" data-toggle="modal" data-target="#myModal">Launch modal</button>*@

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title" id="exampleModalLabel">Перевод был отправлен</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Ваш перевод был отправлен администрации сайта.</p>
                        <p>В скоро времени он будет рассмотрен.</p>
                        <p>Спасибо!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-primary">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
</article>

@section scripts {
    
    <script src="~/scripts/tether.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/send.js"></script>
    @if (TempData["MailSent"] != null)
    {
        <script>$('#myModal').modal('show')</script>
    }
    <script>
        $(document).ready(function() {
            $('.send-translation > p a').attr('download', "");
        });
    </script>
}